.DS_Store
node_modules
.env
.vscode
coverage
coverage.json
typechain
typechain-types
lcov.info
lcov.info.pruned
# Hardhat files
artifacts
cache
abis

# Foundry files
out
broadcast
cache_forge/
cache_forge/*.json
cache/validations.json
.gitignore
cache/solidity-files-cache.json

# vscode files
.vscode/settings.json

# ZKSync files
artifacts-zk/
